.body_background 
{
    background-image: url("4-Common-Mistakes-to-Avoid-With-Your-Live-Chat-Support-1.png");
    background-position: center;
    background-size: cover;
}
h1 {
color: rgb(255, 50, 1);
}